.gridContainer {
    
}

.gridRow {
    height: 50px;
}

.gridSquare {
    display: inline-block;
    border: 1px solid black;
    height: 48px;
    width: 48px;
    
}

.grey {
    background-color: grey;
}