.buttonContainer {
    padding-bottom: 50px;
}
/*
.gridContainer {
    
}

.gridRow {
    
}
*/
.gridSquare {
    display: inline-block;
    border: 1px solid black;
}

.grey {
    background-color: grey;
}